*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
.top{
    width: 100%;
    height: 100vh;
    color: beige;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5);
   
}

nav{
    margin: 10px;
    padding: 20px;
    width: 80%;
    position: absolute;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;
}
.logo{
    flex-basis: 20%;
}
.links{
    flex: 1;
    text-align: right;
}
.links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.links ul li a{
    color: #fff;
    text-decoration: none;
    padding: 6px 15px;   
    border-radius: 20px;
}
.fun{
    position: absolute;
    top: 50%;
    left: 40%;
}
.fun h2{
    color: bisque;
    size: 40px;
    text-shadow: #ee7752;
    text-size-adjust: 50px;
}
